* {
  padding: 0px;
  margin: 0px;
}

body {
  background-color: #1d273c;
}

.content_wrap {
  padding: 15px;
}

.about_title {
  font-size: 16px;
  color: #00b170;
}

.content {
  font-size: 14px;
  color: #ffffff;
}

.question_title {
  font-size: 16px;
  color: #00b170;
  font-weight: bold;
}

.question_desc {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 14px;
  color: #ffffff;
}
