* {
  padding: 0px;
  margin: 0px;
}

body {
  background-color: #1D273C;
}

.content_wrap {
  padding: 30px 27px 30px;
}

.about_title {
  font-size: 40px;
  color: #ffffff;
}

.small_title {
  margin-top: 10px;
  opacity: 0.6;
  font-size: 21px;
  color: #FFFFFF;
}

.content {
  margin-top: 17px;
  opacity: 0.6;
  font-size: 21px;
  color: #FFFFFF;
}