<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/privacyPolicy.css')}}">
  <title>隐私政策</title>
</head>

<body>
  <div class="content_wrap">
    <div class="content">
      &nbsp;&nbsp;引力加速器尊重并全力保护用户隐私。我们希望您了解我们收集的信息，不收集的信息以及我们如何收集、使用和存储信息。我们不收集您的活动日志，包括不记录浏览历史记录、流量数据、数据内容或DNS查询。我们也从不存储连接日志，这意味着您的IP地址、连接时间或会话持续时间都不会记录日志。<br />
      &nbsp;&nbsp;我们非常注重用户隐私，因此制定隐私政策。请您仔细阅读这些隐私政策的内容，以协助本平台为您提供满意的服务。本政策内容涵盖本平台如何经由使用本平台而收集所得的个人资料。
      &nbsp;&nbsp;使用本网站服务，即表示您已同意接受本平台的隐私政策，并同意本平台按照以下政策收集个人资料及使用方法
    </div>
    <div class="question_title">信息收集</div>
    <div class="question_desc">
      &nbsp;&nbsp;我们非常尊重用户个人信息，不会为满足第三方营销目的而向其出售或出租您的任何信息。我们可能会在下列情况下将您的信息与第三方共享：<br />
      &nbsp;&nbsp;比如说，我们在使用第三方平台工具来分析用户数据时可能会使用您的信息。我们会通过您提供的联系方式向您发送服务通知以及对您的客服请求作出回应。您可以登录本平台修改您的个人资料。
    </div>
    <div class="question_title">信息传输</div>
    <div class="question_desc">
      &nbsp;&nbsp;我们的服务遍布全球，因此，您的数据将通过我们的全球服务器传输，这些服务器可能不在您居住的国家。我们依靠某些第三方服务提供商来使我们能够为您提供我们的服务。每当我们传输您的信息时，我们都会采取措施对其进行保护。<br />
      &nbsp;&nbsp;您承认并了解，您的信息将按照说明进行信息传输，这是提供我们的服务并遵守我们的服务条款所必需的。
    </div>
    <div class="question_title">信息安全</div>
    <div class="question_desc">
      &nbsp;&nbsp;您也有责任保护及妥善存放个人资料，避免通过任何途径（包括电话以及电邮）向其他人分享或公开您在本平台的登录密码。<br />
      &nbsp;&nbsp;必要时，我们会使用强大的加密算法来安全地保护所有公钥和私钥以及密码。采取了适当的安全措施来保护此信息，防止未经授权的访问，未经授权的更改，破坏或泄露数据。引力加速器员工，承包商和代理商对个人信息的访问受到限制。这些员工要求提供信息以运营、发展或改善我们的服务，但受保密义务的约束。如果不履行这些义务，他们可能会受到纪律处分，包括解雇和刑事起诉
    </div>
    <div class="question_title">Cookies</div>
    <div class="question_desc">
      &nbsp;&nbsp;引力加速器使用几种不同类型的cookie来改善网站上的用户体验，例如：<br />
      &nbsp;&nbsp;Google Analytics（分析），用于统计评估和网站性能改善；<br />
      &nbsp;&nbsp;邀请码Cookie，以识别我们的合作伙伴推荐给本网站的客户，以便我们可以向推荐人授予佣金；<br />
      &nbsp;&nbsp;Cookies，用于为用户个性化网站内容，例如设置默认语言。<br />
      &nbsp;&nbsp;您可以在网站每次在浏览器中放置cookie时设置警告，也可以选择禁用所有cookie。您可以同时通过浏览器设置进行操作。由于每种浏览器都有不同的cookie管理程序，请查看浏览器的“帮助”菜单以了解正确的方法。<br />
      &nbsp;&nbsp;另外，您也可以访问“网络广告主动退出”页面或使用Google Analytics（分析）退出浏览器插件来禁用所有cookie 。请注意，选择禁用cookie可能会对某些功能产生负面影响，这些功能会使您的网站体验更加高效。
    </div>
    <div class="question_title">第三方网站</div>
    <div class="question_desc">
      &nbsp;&nbsp;引力加速器的网站可能包含指向其他第三方网站的链接。请了解并理解，我们不控制他们如何操作其隐私惯例，我们对此不承担任何责任。
    </div>
    <div class="question_title">同意和年龄限制</div>
    <div class="question_desc">
      &nbsp;&nbsp;使用网站、内容、应用程序、软件或服务，即表示您同意按照我们的服务条款和隐私政策中所述处理您的信息。<br />
      &nbsp;&nbsp;该服务适用于18岁以上的成年人。如果您认为您的孩子已经向我们提供了信息，请立即告知我们。
    </div>
    <div class="question_title">欧盟用户</div>
    <div class="question_desc">
      &nbsp;&nbsp;引力加速器致力于在全球范围内保护用户隐私，我们现有的做法通过最小化数据收集并确保用户可以控制其个人信息来体现这一点。欧盟（EU）的通用数据保护法规（GDPR）要求我们以特定方式为欧盟用户概述这些做法。<br />
      &nbsp;&nbsp;根据GDPR的规定，我们会根据以下情况之一收集和处理本隐私政策中概述的数据：<br />
      &nbsp;&nbsp;为了履行我们对用户的合同义务，包括：<br />
      &nbsp;&nbsp;1.向用户提供他们所请求的服务和应用程序。<br />
      &nbsp;&nbsp;2.管理用户订阅并处理付款。<br />
      &nbsp;&nbsp;3.提供客户支持。<br />
      &nbsp;&nbsp;为了与我们的业务运营相关的合法利益，包括：<br />
      &nbsp;&nbsp;1.提高我们的网站，服务和应用程序的质量，可靠性和有效性。<br />
      &nbsp;&nbsp;2.与客户沟通以提供信息并寻求与我们的服务和应用程序有关的反馈。<br />
      &nbsp;&nbsp;经用户同意，该用户可以随时退出<br />
      &nbsp;&nbsp;您可以根据GDPR行使您的权利，以访问、转移、更正、删除或反对处理您的个人信息，方法是通过tower7x24@yahoo.com与我们联系。
    </div>
    <div class="question_title">隐私政策的变更</div>
    <div class="question_desc">
      &nbsp;&nbsp;根据适用的隐私法律和原则，我们可能会不时更改隐私政策，恕不另行通知。您继续使用本网站或服务即表示您接受我们的隐私政策。
    </div>
    <div class="question_title">联系我们</div>
    <div class="question_desc">
      &nbsp;&nbsp;如果您对我们的隐私政策以及我们如何处理您的信息有任何疑问，请随时通过以下电子邮件地址与我们联系：tower7x24@yahoo.com
    </div>
  </div>

</body>

</html>